
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .preview {
        padding: 10px;
        position: relative;
    }

        .preview i {
            color: white;
            font-size: 35px;
            transform: translate(50px,130px);
        }

    .preview-img {
        border-radius: 100%;
        plan-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
    }

    .browse-button {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute; /* Tweak the position property if the element seems to be unfit */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, transparent, black);
        opacity: 0;
        transition: 0.3s ease;
    }

        .browse-button:hover {
            opacity: 1;
        }

    .browse-input {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        transform: translate(-1px,-26px);
        opacity: 0;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button id="" class="btn btn-primary pull-right" onclick="Admin.OpenImportModal()">Import File</button>
            <a href="~/Assets/Files/sample/Test.xlsx" class="btn btn-primary pull-right" onclick="" download="">Download Sample File</a>
        </div>
    </div>
    <br />
    @Html.Partial("~/Views/Shared/_UserProfileForm.cshtml")
</div>
@Html.Partial("~/Views/Shared/_ImportFile.cshtml")
<script src="~/scripts/Modules/User.js"></script>

<script>
    $(function () {
        $("#user_profile_image").change(function () {
            var data = new FormData();
            var files = $("#user_profile_image").get(0).files;
            if (files.length > 0) {
                data.append("Files", files[0]);
            }
            $.ajax({
                url: "/UploadHandler/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    debugger;
                    //code after success
                    $("#profile_image_preview").attr('src', "../../Assets/Images/" + response);
                    $('#hidden_user_pic').val(response);
                },
                error: function (er) {
                    alert(er);
                }

            });
        });
        $("#import_upload_file").change(function () {
            var data = new FormData();
            var files = $("#import_upload_file").get(0).files;
            if (files.length > 0) {
                data.append("Files", files[0]);
            }
            $.ajax({
                url: "/UploadHandler/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    debugger;
                    //code after success
                    //$("#profile_image_preview").attr('src', "../../Assets/Files/" + response);
                    $('#hidden_import_file_name').val(response);
                },
                error: function (er) {
                    alert(er);
                }

            });
        });
        User.GetProfile(@ViewBag.current_user_id);
    })
</script>
