################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal/Logs
/Portal/obj/Debug/Portal.csprojAssemblyReference.cache
