

<div class="row">
    <div class="col-md-8" id="user_main_info_section">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" id="user_header_text">Candidate's Information</h3>
                <span class="pull-right clickable"><i class="fa fa-chevron-up" style="display:none"></i></span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-material">
                    <div class="col-md-4 col-md-offset-4" id="candidate_pic_section" style="padding: 10px;">
                        <input type="hidden" id="candidate_pk_id" value="">
                        <div class="preview text-center">
                            <img class="preview-img" id="profile_image_preview" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" style="width: 150px; height:150px">
                            <div class="browse-button">
                                <i class="fa fa-pencil-alt"></i>
                                <input class="browse-input" type="file" required="" name="UploadedFile" id="candidate_profile_image">
                                <input type="hidden" id="hidden_candidate_pic">
                            </div>
                            <span class="Error"></span>
                        </div>
                    </div>
                    <div id="user_candidate_section" class="col-md-12">
                        <input type="hidden" id="hidden_candidate_type" value="not_admin" />
                        <div id="candidate_profile_alert_message" class="alert" style="" hidden>
                            <strong id="user_candidate_message"></strong>
                        </div>
                        <div id="candidate_required_fields_message" class="form-group" hidden style="padding-top: 13px;">
                            <span style="color:#d9534f !important;padding-left: 223px;">Required Fields can't be empty !</span>
                        </div>
                        <br />


                        <div class="form-group col-md-6 col-xs-6">
                            <label for="example-email" class="col-md-12 col-xs-12">Profile Headline</label>
                            <div class="col-md-12 col-xs-12">
                                <input type="text" placeholder="Profile Headline" class="form-control form-control-line" id="profile_headline">
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12" style="">
                            <label for="example-email" id="lbl_upload_cv" class="col-md-12 col-xs-12">Upload CV</label>
                            <div class="col-md-12 col-xs-12">
                                <input type="file" placeholder="Upload CV" class="form-control form-control-line" id="candidate_cv" style="width: 153%;">
                                <input type="hidden" id="hidden_candidate_cv">
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12" style="margin-top: 2%;">
                            <label for="example-email" class="form-group col-md-4  col-xs-12" style="margin-left:1%">Email</label>
                            <div class="col-md-12 col-xs-12">
                                <input type="text" placeholder="Email" class="form-control form-control-line" id="candidate_email">
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12" style="margin-top: 2%;">
                            <label for="example-email" class="form-group col-md-8  col-xs-12" style="margin-left:1%">First Name</label>
                            <div class="col-md-12 col-xs-12">
                                <input type="text" placeholder="First Name" class="form-control form-control-line" id="candidate_first_name">
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12" style="margin-top: 2%;">
                            <label for="example-email" class="form-group col-md-8  col-xs-12" style="margin-left:1%">Last Name</label>
                            <div class="col-md-12 col-xs-12">
                                <input type="text" placeholder="Last Name" class="form-control form-control-line" id="candidate_last_name">
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="form-group col-md-4  col-xs-12" style="margin-left:1%">Contact</label>
                            <div class="col-md-12 col-xs-12">
                                <input type="text" placeholder="Contact" class="form-control form-control-line" id="candidate_contact">
                            </div>
                        </div>

                        <div id="user_type_formgroup" class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="form-group col-md-8  col-xs-12" style="margin-left:1%">Technology</label>
                            <div class="col-md-12 col-xs-12">
                                <span class="multiselect-native-select">
                                    <select id="candidate_fk_technology" class="form-control form-control-line" multiple>
                                        <option value="">Select Technology</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <label for="example-email" class="form-group col-md-4  col-xs-12">Availability</label>
                            <select id="candidate_availability" class="form-control" style=" width: 100% !important">
                                <option value="">Availability</option>
                                <option value="Immediate">Immediate</option>
                                <option value="7">7 days</option>
                                <option value="15">15 days</option>
                                <option value="20">20 days</option>
                                <option value="25">25 days</option>
                                <option value="30_more">30 and more days</option>
                            </select>
                        </div>



                        <div class="form-group col-md-12" style=" padding: 10px !important;">
                            <h3 style="text-align: center;">
                                <u>Current Location</u>
                            </h3>
                        </div>
                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="col-md-12 col-xs-12">Country</label>
                            <div class="col-md-12 col-xs-12">
                                <select id="candidate_fk_country_id" class="form-control form-control-line" onchange="CandidateForm.LoadState(this.value)"><option value="0">Select</option><option value="1">India</option><option value="2">US</option><option value="3"></option></select>
                            </div>
                        </div>
                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="col-md-12 col-xs-12">State</label>
                            <div class="col-md-12 col-xs-12">
                                <select id="candidate_fk_state_id" class="form-control form-control-line" onchange="CandidateForm.LoadCity(this.value)"></select>
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="col-md-12 col-xs-12">City</label>
                            <div class="col-md-12 col-xs-12">
                                <select id="candidate_fk_city_id" class="form-control form-control-line"></select>
                            </div>
                        </div>

                        <div class="form-group col-md-12" style="padding: 10px !important;">
                            <h3 style="text-align: center;">
                                <u>Preferred Location</u>
                            </h3>
                        </div>

                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="col-md-12 col-xs-12">Country</label>
                            <div class="col-md-12 col-xs-12">
                                <select id="preferred_country_id" class="form-control form-control-line" multiple onchange="CandidateForm.GetPreferredSelectedCountries()"></select>
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="col-md-12 col-xs-12">State</label>
                            <div class="col-md-12 col-xs-12">
                                <select id="preferred_state_id" class="form-control form-control-line" multiple onchange="CandidateForm.GetPreferredSelectedStates()"></select>
                            </div>
                        </div>

                        <div class="form-group col-md-4  col-xs-12">
                            <label for="example-email" class="col-md-12 col-xs-12">City</label>
                            <div class="col-md-12 col-xs-12">
                                <select id="preferred_city_id" class="form-control form-control-line" multiple></select>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <button class="btn btn-primary pull-right" id="candidate_add_update_profile_btn" onclick="CandidateForm.UpdateCandidateProfile()"><i id="candidate_btn_spinner" class="fa fa-circle-o-notch fa-spin hidden"></i>&nbsp;<span id="user_btn_text"> Update</span></button>
                    <button class="btn btn-default pull-right" id="candidate_add_reset_profile_btn" onclick="" type="reset" hidden>Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="user_password_section">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Password Reset</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up" style="display:none"></i></span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-material">
                    <div class="col-md-12 notification" id="password_notification_block" hidden>
                        <p id="password_notification_text"></p>
                    </div>
                    <br />
                    <div class="form-group col-md-12 col-xs-12">
                        <label for="example-email" class="col-md-12 col-xs-12">Old Password</label>
                        <div class="col-md-12 col-xs-12">
                            <input type="password" placeholder="Old Password" class="form-control form-control-line" id="user_password_old">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <label for="example-email" class="col-md-12 col-xs-12">New Password</label>
                        <div class="col-md-12 col-xs-12">
                            <input type="password" placeholder="New Password" class="form-control form-control-line" id="user_password_new">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <label for="example-email" class="col-md-12 col-xs-12">Confirm Password</label>
                        <div class="col-md-12 col-xs-12">
                            <input type="password" placeholder="Confirm Password" class="form-control form-control-line" id="user_password_confirm">
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12 col-xs-12">
                        <span id="password_status_text"></span>
                    </div>
                    <br />
                </form>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <button class="btn btn-primary col-xs-6 col-xs-6 pull-right" onclick="User.UpdatePassword()">Password Change</button>
                </div>

            </div>
        </div>
    </div>
</div>
