
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<style>
    body {
        background-color: lightgray;
    }

    .image-career-banner {
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/556962/pexels-photo-556962.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .image-career-sm-banner {
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .lg-text {
        font-size: 52px;
        font-weight: 600;
        text-transform: none;
        color: #fff;
    }

    .image-career-para {
        color: #fff;
    }

    .squar_box {
        border: 1px solid gray;
        height: 300px;
    }

    /* FontAwesome for working BootSnippet :> */

    /*@@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
    .box {
        padding: 60px 0px;
    }

    .box-part {
        background: #FFF;
        border-radius: 0;
        padding: 60px 10px;
        margin: 30px 0px;
    }

    .text {
        margin: 20px 0px;
    }

    .fa {
        color: #4183D7;
    }

    .panel-heading {
        background-color: #f1f1f5 !important;
        color: black !important;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }
</style>

<div class="image-career-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">Careers</h1>
                <p class="image-career-para">Take the next step in your career</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding:50px !important; background-color:white !important">
    <div class="col-md-10 col-md-offset-1">
        @*<h1 class="" style="text-align:center">Our Culture</h1>*@
        <p>
            CODELATE considers its human resources to be one of its most valuable assets. It offers a perfect learning environment for young minds to grow into seasoned professionals under the mentorship of highly experienced domain experts and veteran managers having decades of experience in their respective areas. CODELATE is home to some of the best talents in the industry and we are constantly looking for brilliant young minds that have the fire and motivation to constantly face and overcome professional challenges.
            CODELATE provides a healthy and challenging work environment where an individual’s talent is identified, nurtured and which transforms a fresher into an IT specialist eager to take on the world. Our Offshore Development Centre in Noida, India, is equipped with state-of-the-art infrastructure to ensure best-in-class training facilities for our executives. CODELATE provides ample opportunities to its executives to not only upgrade their professional skill-sets but also develop their personality significantly. CODELATE also endeavours to maintain a perfect work-life balance for its workforce. <br /><br />
            CODELATE offers excellent remuneration and growth opportunities at all levels. It is an equal opportunity employer which does not discriminate on the basis of gender, religion, nationality or any other factor. If you think you want to work with one of the best IT Companies in the country you can write to us with details at: careers@codelate.com.
        </p>
    </div>

</div>
<div class="col-md-8 col-md-offset-2" style="margin-bottom:10px !important">
    <h1 class="" style="text-align:center">Our Culture</h1>
    <p>The challenges we face are completely unique as we are trying to build something from the ground up. To overcome these challenges, our culture promotes fast-paced iterations, collaboration, and a flat hierarchy.</p>

    <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1"  style="height:300px;overflow:hidden">
        <div class="">
            <img src="~/Assets/Images/Cultures/culture_1.jpg" width="100%" style="overflow:hidden" />
        </div>
    </div>

    <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1"  style="height:300px;overflow:hidden">
        <div class="" style="height:300px;overflow:hidden">
            <img src="~/Assets/Images/Cultures/culture_2.jpg" width="100%" style="overflow:hidden"/>
        </div>
    </div>
</div>
<div class="col-md-12" style="background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);padding:20px !important">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="" style="text-align:left">Current Openings</h1>
        <p>
            We're on a mission to make IT industry approachable and affordable. Join us in our mission.
        </p>
    </div>
</div>
<br />
<br />
<div class="col-md-12" style="padding:50px !important; background-color:white !important">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Senior Frontend Developer</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </div>
                <div class="panel-body">
                    <p>
                        We are in early stages of development of an extensive B2B platform for IT service industry. This is an exciting opportunity to join a small team of very smart developers and getting involved in a key technology role.
                    </p>
                    <br />
                    Skills and Experience:
                    <br />
                    <br />

                    <ul>
                        <li>Languages: JavaScript/Node.js, HTML5, CSS3.</li>
                        <li>Front end frameworks/libraries: React/Redux Next.js, Bootstrap, Materialize, Open source.</li>
                        <li>Good to have: Backbone, Angular, React, Webpack, Babel, familiar with ES6 syntax, Unit test cases.</li>
                        <li>Primary Skills - Ability to improve performance of website for both mobile and desktop.</li>
                        <li>Come up with efficient, modular and scalable solutions for business and technical problems.</li>
                        <li>Design and architect technical solutions for the business problems of a large IT Service portal.</li>
                        <li>Break projects into simpler granular tasks, estimate effort required and identify dependencies.</li>
                        <li>Write efficient and readable code leveraging on a good understanding of object oriented principles and design patterns.</li>
                        <li>Follow release cycles and commitment to deadlines.</li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Python Developer</h3>
                    <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </div>
                <div class="panel-body" style="display: none;">
                    <p>
                        We are looking for Engineers with expertise and experience in designing, developing, implementing and scaling web applications for our rapidly growing Technology team. We are expanding our team and are looking for innovative, high energy, bright individuals who can contribute to the growth of one of the fastest growing product companies in India.
                    </p>
                    <br />
                    Skills and Experience:
                    <br />
                    <br />

                    <ul>
                        <li>2 to 7 yrs - (Developer /Lead)</li>
                        <li>Experience working on scalable, high availability applications/ services.</li>
                        <li>Good understanding of data structures, algorithms, and design patterns.</li>
                        <li>Excellent analytical and problem-solving skills.</li>
                        <li>Ability to work in a fast paced internet startup environment</li>
                        <li>Hands on experience in Python. Django is added advantage</li>
                        <li>Good working knowledge of relational and non-relational databases.</li>
                        <li>Good exposure in writing and optimizing SQL for high-performance systems with large Database.</li>
                        <li>Passionate about technology and aware of latest developments.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Python Architect</h3>
                    <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </div>
                <div class="panel-body" style="display: none;">
                    <p>
                        We are looking for Architects with expertise and experience in designing, developing, implementing and scaling web applications for our rapidly growing Technology team.
                    </p>
                    Skills and Experience:
                    <br />
                    <br />

                    <ul>
                        <li>Bachelor's or Master's from top tier institutes only</li>
                        <li>Hands on developing large-scale service oriented applications.</li>
                        <li>Contribution to open source projects is a plus.</li>
                        <li>Excellent Analytical and problem solving skills.</li>
                        <li> Expert in any programming language, Python is a plus.</li>
                        <li>Good working knowledge of relational, non-relational and in-memory data stores.</li>
                        <li>Passionate about technology and aware of latest developments.</li>
                        <li>At least 8-10 years of experience in software development.</li>
                        <li>Product Company experience is must.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.banner-area').addClass('hidden');
        $('.color_animation').removeClass('navactive');
        $('#nav_career').addClass('navactive');
    });
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');

        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');

        }
    })
</script>