
<h1 class="" style="text-align:center">Meet Our Codelate Team</h1>
<br />
<p>
    CODELATE is a team of dynamic individuals with a passion for change management and depth in their respective areas of expertise. Our dedicated employees bring energy, fresh ideas and pride to their work.<br /><br />
    We view CODELATE’s culture as a competitive advantage and strive to create an environment where smart, motivated and creative people succeed. We think big and work hard. We strive for excellence in everyday interactions. We constantly push to be better.
</p>

<section id="team" class="pb-5" style="padding:10px !important">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="~/Assets/Images/Team/anuj.jpg" alt="card image"></p>
                                    <h4 class="card-title">Anuj Goel</h4>
                                    <p class="card-text">Founder & CEO | Software Developer Infoxen Technologies Inc. | Coding is a habit, Quality coding is the passion </p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Anuj Goel</h4>
                                    <p class="card-text">He is a serial entrepreneur with next generation tech skills. He is having more than 10 years of experience into IT service and managed many projects alone. He is passionate about  technology and loves only technology.</p>
                                    <ul class="list-inline">
                                        @*<li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>*@
                                        @*<li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="~/Assets/Images/Team/NeelKamal.png" alt="card image"></p>
                                    <h4 class="card-title">Neel Kamal Gupta</h4>
                                    <p class="card-text">Co-founder</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Neel Kamal Gupta</h4>
                                    <p class="card-text">He is a serial entrepreneur with more than a decade of experience in hard core sales. He is serving multiple industries with his guidance and support. He loves to watch cricket, cook food and play chess.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="~/Assets/Images/Team/Amit Daga.png" alt="card image"></p>
                                    <h4 class="card-title">Amit Daga</h4>
                                    <p class="card-text">Client Servicing- Head </p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Amit Daga</h4>
                                    <p class="card-text">He is passionate about operational activities and serving industry for last 17 years. He has worked for various small and big brands and now he is acting like a back bone of CODELATE. He loves cricket, cook food and driving.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
          
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="~/Assets/Images/Team/manvi.jpg" alt="card image"></p>
                                    <h4 class="card-title">Manvi Sehgal</h4>
                                    <p class="card-text">UI/UX Designer.</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Manvi Sehgal</h4>
                                    <p class="card-text">She use design to enhance brands voice and visual communication, always seeking for original and effective solutions for a flexible visual identity system, allowing people involve, connect and interact with products and businesses.
                                    <br />
                                    <br />
                                        She is Ambitious and curious, has a passion for creative process and brand development.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="~/Assets/Images/Team/Anish Sharma.png" alt="card image"></p>
                                    <h4 class="card-title">Anish Sharma</h4>
                                    <p class="card-text">Technical Lead | Software Developer</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-linkedin"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Anish Sharma</h4>
                                    <p class="card-text">He Designs and Develops Programming Systems. Also He has Excellent technical abilities, leadership, decision making and adaptability to new technologies. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
